<div class="navbar">

<%# function for display ðŸŽ…ðŸ» or ðŸ§‘ðŸ» %>
<% if user_signed_in? %>
<% if current_user.offers.present?%>
<% is_santa = "ðŸŽ…ðŸ»" %>
<% else %>
<% is_santa = "ðŸ§‘ðŸ»" %>
<% end %>
<% end %>

<%# ðŸŸ¡ logo ---------------------------- %>
<%= link_to root_path do %>
        <div class="pill">
            <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/santa-claus_light-skin-tone_1f385-1f3fb_1f3fb.png" height="50" id="logo-fix">
            <h2>CloseSanta</h2>
        </div>
<% end %>

<%# ðŸŸ¡ boutons ---------------------------- %>

<%# ajout du si connecter button log_out sinon sign_up %>
<%# penser a faire button sign_in a la place de sign_up et dans la vu du sign in un boutton sign_up %>
      <% unless user_signed_in? %>

      <div class="navbar-btn-flex">
      <%# ðŸŸ¡ inscription ---------------------- %>
      <%= link_to new_user_registration_path do %>
      <h2 class="pill pill-color">registration</h2>
      <%# ðŸŸ¡ login ---------------------------- %>
      <%= link_to user_session_path do %>
      <h2 class="pill pill-color-white left-pill-margin">ðŸ‘¤ login</h2>
      <% end %>
      <% end %>
      </div>

    <% else %>
      <div class="navbar-btn-flex">
      <%# ðŸŸ¡ log-out ---------------------------- %>
      <%= link_to destroy_user_session_path, :method => :delete do %>
      <h2 class="pill pill-color-white">log-out</h2>
      <%# ðŸŸ¡ dashboard ---------------------------- %>
      <%= link_to dashboard_offers_path do %>
      <h2 class="pill pill-color left-pill-margin"> <%= current_user.firstname %> <%=is_santa%> </h2>
    <% end %>
    <% end %>
      </div>
    <% end %>

</div>


<%# ðŸŸ¡ deprecied search bar  ---------------------------- %>
<%# <input type="text" placeholder="ðŸ” Search.." class="pill search" id="hide-sm"> %>
