<h1>reservation show</h1>

<p><%= @reservation.event_adress %></p>
<p><%= @reservation.start_time %></p>
<p><%= @reservation.end_time %></p>
<p><%= @reservation.status %></p>

<%# if the current user is the user who created the offer linked to the reservation %>
<% if @reservation.offer.user.id == current_user.id %>
  <% if @reservation.status == "pending" %>
    <%= link_to "Accept", reservation_accept_status_path(@reservation) %>
    <%= link_to "Reject",
            @reservation,
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<%# if the current user is the user who created the reservation %>
<% if @reservation.user.id == current_user.id %>
  <% if @reservation.status == "pending" %>
 <%= link_to "Cancel",
            @reservation,
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
