<h1>reservation show</h1>

<p><%= @reservation.event_adress %></p>
<p><%= @offer.availability.to_time.strftime('%e %B %Y') %> <%= @reservation.reservation_start.strftime("at %I:%M %p") %></p>
<p><%= @offer.availability.to_time.strftime('%e %B %Y') %> <%= @reservation.reservation_end.strftime("at %I:%M %p") %></p>
<p><%= @reservation.status %></p>

<%# if the current user is the user who created the offer linked to the reservation %>
<% if @reservation.offer.user.id == current_user.id %>
  <% if @reservation.status == "pending" %>
    <%= link_to "Accept", reservation_accept_status_path(@reservation) %>
    <%= link_to "Reject",
            @reservation,
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>reservation_start

<%# if the current user is the user who created the reservation %>
<% if @reservation.user.id == current_user.id %>
  <% if @reservation.status == "pending" %>
 <%= link_to "Cancel",
            @reservation,
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
