<%# function for display 🎅🏻 or 🧑🏻 %>
<% if user_signed_in? %>
<% if current_user.offers.present?%>
<% is_santa = "🎅🏻" %>
<% else %>
<% is_santa = "🧑🏻" %>
<% end %>
<% end %>

<h2 id="top-message"><%=is_santa%> <%= current_user.firstname %>'s Offers 🎁<h2>

<div class="flexcenter">


    <div>

      <% @offers.each do |offer| %>


          <div class="user-offers-card">
              <div style="background-image: url(<%= cl_image_path offer.photo.key, height: 250, width: 500, crop: :fill %>);" class="image-left-content" >
              </div>

              <div class="user-offers-card-right-content">
                  <h2><b><%=link_to "#{offer.title}", offer_path(offer) %></b></h2>

                  <p> <b>Available:</b> in <%= offer.location %> the <%= offer.availability %><br>
                      <b>Price : </b><%= offer.price_per_hour %>$ </p>


              <% if offer.user.id == current_user.id && offer.reservations.present?%>
                <% offer.reservations.each do |reservation| %>
                <br><h4> <b><%= reservation.user.firstname %> has accepted ✅</b></h4>
                  <p>Adress: <%= link_to "#{reservation.event_adress}", reservation_path(reservation)  %>
                  <p>Time: <%= reservation.start_time %> <%= reservation.end_time %></p>
                  <p>Status: <%= reservation.status %></p>
                    <% if reservation.status == "pending" %>
                      <%= link_to "accept", reservation_accept_status_path(reservation) %>
                      <%= link_to "reject",
                          reservation,
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
                    <% end %>
                <% end %>
              <% end %>


          </div>








        </div>
      <% end %>
    </div>
    <%# test %>
    <h2>MY RESERVATION</h2>
    <div class='offer-dashboard'>
      <% @reservations.each do |reservation| %>
        <div class='reservation-link'>
          <p>Address: <%=link_to "#{reservation.event_adress}", reservation_path(reservation) %></p>
          <p><%= reservation.start_time %></p>
          <p><%= reservation.end_time %></p>
          <p>Status: <%= reservation.status %></p>
        </div>
      <% end %>
    </div>
    <%= link_to "Back to offers", offers_path %>
    <%= link_to "Create an offer", new_offer_path %>
  </div>
</div>
