<h2>Show</h2>
<p><%= @offer.title %></p>
<p><%= @offer.offer_description %></p>
<p><%= @offer.santa_description %></p>
<p><%= @offer.availability %></p>
<p><%= @offer.location %></p>
<p><%= @offer.price_per_hour %></p>
<%= link_to "Back to offers", offers_path %>


<%# pour que le createur de l'offre ne puisse pas la reserver %>

<% unless @offer.user_id == current_user.id %>
<%= link_to 'reservation', new_offer_reservation_path(@offer.id) %>
<% end %>
