<div class="show-content">

<% if @offer.user == current_user %>

  <div class="show-description-content">
    <%= simple_form_for(@offer) do |f| %>
      <%= f.input :title %>
      <%= f.input :location %>
      <%= f.input :price_per_hour %>
      <%= f.input :offer_description %>
      <%= f.input :santa_description %>
      <%= f.input :availability %>
      <%= f.input :photo, as: :file%>
      <div class="d-flex justify-content-center" >
      <%= f.submit "update", class: "bouton-green" %>
      </div>
    <% end %>
  </div><%# end of description%>

<% else %>

  <div class="show-description-content">
  <h2>Say Hello to <%=@offer.user.firstname%> ! ðŸ‘‹ </h2>
  <h2 id="subtitle"><%= @offer.title %></h2>
    <hr>
  <h3>Here is more about <%=@offer.user.firstname%>:</h3>
  <p><%= @offer.santa_description %></p>
  <br>
  <h3>Why <%=@offer.user.firstname%> ?</h3>
  <br>
  <p><%= @offer.offer_description %></p>
  <br>
  <h3>Our santa disponibility: </h3>
  <p><b>The <%= @offer.availability.to_time.strftime('%e %B %Y') %></b> in <%= @offer.location %></p>
  <br>
  <h3>Price per hour: </h3>
  <h4><%= @offer.price_per_hour %> $</h4 >
  </div><%# end of description%>


<% end %>


  <div class="show-picture-content" style="  background-image:url('https://source.unsplash.com/collection/8981385/200x500');">
  <%= link_to "ðŸ˜’ Go Back", offers_path, :class => "bouton-black" %>
  <%# pour que le createur de l'offre ne puisse pas la reserver %>
  <% unless @offer.user_id == current_user.id %>
  <%= link_to 'â¤ï¸ Reserve !', new_offer_reservation_path(@offer), class: "bouton-green" %>
  <% end %>



<% if @offer.user == current_user %>
<%= button_to "ðŸ—‘ Delete",
            @offer,
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "bouton-red"%>
<% end %>

</div><%# end of picture%>

</div><%# end of content%>
